<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">Dashboard</h1>
    <div class="row placeholders" id="images">
      <!-- Row 1 -->
    </div>
  
    <h1 class="sub-header">Test Buttons</h1>
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-lg" id="untrackdirs">untrack directories</button>
      <button type="button" class="btn btn-default btn-lg" id="untrackfiles">untrack files</button>
      <button type="button" class="btn btn-default btn-lg" id="updatefile">update file</button>
      <button type="button" class="btn btn-default btn-lg" id="addtags">add tag names</button>
      <button type="button" class="btn btn-default btn-lg" id="edittagname">edit tag name</button>
      <button type="button" class="btn btn-default btn-lg" id="deletetags">delete tag names</button>
    </div>
  </div>
</div>